# MySQL Configuration
MYSQL_HOST=mysql.us.stackcp.com
MYSQL_PORT=43421
MYSQL_USER=apptitanus-35303934d87f
MYSQL_PASSWORD=gmcw9wwdn7
MYSQL_DATABASE=apptitanus-35303934d87f

# Evolution API (VPS)
EVOLUTION_API_URL=http://129.153.116.213:8080
EVOLUTION_API_KEY=42a447c1-3d74-4b52-9571-042c174f7621
EVOLUTION_INSTANCE_NAME=gym_bot

# App Settings
PORT=10000
GYM_NAME=Titanus Gym
DELAY_BETWEEN_MESSAGES=45
